<h1 align="center" style="color: red;">Employee Registration</h1> <br/>

<div class="container">
    <form #regForm="ngForm" (ngSubmit)="empRegister(regForm.value)">
        <table align="center">
            <tbody>
                <tr>
                    <td>EmpName</td>
                    <td><input type="text" name="empName" ngModel /> </td>
                </tr>
                <tr>
                    <td>Salary</td>
                    <td><input type="text" name="salary" ngModel /> </td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>
                        <select name="gender" ngModel>
                            <option value="" selected>Select Gender</option>
                            <option value="Male"  >Male  </option>
                            <option value="Female">Female</option>
                            <option value="Others">Others</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Date Of Join</td>
                    <td><input type="date" name="doj" ngModel /> </td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td>
                        <select name="country"  ngModel>
                            <option value="" selected>Select Country</option>
                            <option value="{{country.cca3}}" *ngFor="let country of countries">{{country.name.common}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Email-Id</td>
                    <td><input type="text" name="emailId" ngModel /> </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="password" ngModel /> </td>
                </tr>
                <tr>
                    <td>Department</td>
                    <td>
                        <select name="department" ngModel>
                            <option value="" selected>Select Department</option>
                            <option value="{{department.deptId}}" *ngFor="let department of departments"> {{department.deptName}} </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><button>Register</button> Already User? <a routerLink="//login">SignIn</a> </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
