<p>showemp-by-id works!</p>
<h3 style="color: green;">Welcome: {{emailId}}!</h3>

<br/><br/>
<!-- <div align="center">
    Enter Employee-Id: <input type="text" name="empId" [(ngModel)]="empId" /> <br/><br/>
    <button (click)="getEmployee()">Get Employee</button>
</div> -->
<div align="center">
  Enter Employee-Id: <input type="text" name="empId" [(ngModel)]="empId" /> <br/><br/>
  <button (click)="getEmployee()">Get Employee</button>
</div>
<br/><br/>

<div *ngIf="emp; else notfound">
  <div class="container">
    <table class="table table-bordered table-hover table-striped table-sm">
        <thead>
            <tr align="center">
                <th class="bg-info text-white">EmpId</th>
                <th class="bg-info text-white">EmpName</th>
                <th class="bg-info text-white">Salary</th>
                <th class="bg-info text-white">Gender</th>
                <th class="bg-info text-white">DOJ</th>
                <th class="bg-info text-white">Country</th>
                <th class="bg-info text-white">EmailId</th>
            </tr>
        </thead>

<tbody>
    <tr>
        <td>{{emp.empId  }}</td>
        <td>{{emp.empName}}</td>
        <td>{{emp.salary }}</td>
        <td>{{emp.gender }}</td>
        <td>{{emp.doj    }}</td>
        <td>{{emp.country}}</td>
        <td>{{emp.emailId}}</td>
    </tr>
</tbody>
</table>
</div>  
</div>

<div>
<ng-template #notfound>
    <h4 align="center" style="color: red;">Employee record not found</h4>
</ng-template>
</div>




<!-- <table align="center" border="2">
    <thead>
        <tr>
            <th>EmpId</th>
            <th>EmpName</th>
            <th>Salary</th>
            <th>Gender</th>
            <th>DOJ</th>
            <th>Country</th>
            <th>EmailId</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{emp.empId  }}</td>
            <td>{{emp.empName}}</td>
            <td>{{emp.salary }}</td>
            <td>{{emp.gender }}</td>
            <td>{{emp.doj    }}</td>
            <td>{{emp.country}}</td>
            <td>{{emp.emailId}}</td>
        </tr>
    </tbody>
</table>
</div> 
  -->


<!-- <br/>  <br/>
<br/>  <br/>
<div>
    EmpId:
    <input type="number" placeholder="Enter Employee ID" [(ngModel)]="Id">
    <button (click)="searchEmployee()">Search</button>
  </div>
  
  <div *ngIf="selectedEmployee;else elseblock">
    <h2>Employee Details</h2>
    <p>Employee ID: {{ selectedEmployee.empId }}</p>
    <p>Name: {{ selectedEmployee.empName }}</p>
    <p>Salary: {{ selectedEmployee.salary }}</p>
    <p>Gender: {{ selectedEmployee.gender }}</p>
    <p>Date of Joining: {{ selectedEmployee.doj }}</p>
    <p>Country: {{ selectedEmployee.country }}</p>
    <p>Email: {{ selectedEmployee.emailId }}</p>
  </div>
  <br/>  
  <ng-template #elseblock>Employee Record is not found...!</ng-template>
[14/03, 09:26] +91 90105 28814: import { Component } from '@angular/core';

@Component({
  selector: 'app-showemployeeby-id',
  templateUrl: './showemployeeby-id.component.html',
  styleUrl: './showemployeeby-id.component.css'
})
export class ShowemployeebyIDComponent {
  employees: any[] = [
    { empId: 1, empName: 'Praveen', salary: 50000, gender: 'Male', doj: '01-15-2023', country: 'USA', emailId: 'praveen@gmail.com', password: '123' },
    { empId: 2, empName: 'Tuljesh', salary: 60000, gender: 'Male', doj: '02-20-2022', country: 'Canada', emailId: 'Tuljesh@gmail.com', password: '123' },
    { empId: 3, empName: 'Prash', salary: 70000, gender: 'Male', doj: '03-25-2021', country: 'UK', emailId: 'Prash@gmail.com', password: '123' },
    { empId: 4, empName: 'Mahi', salary: 55000, gender: 'Male', doj: '04-30-2020', country: 'Australia', emailId: 'Mahi@gmail.com', password: '123' },
    { empId: 5, empName: 'Naveen', salary: 80000, gender: 'Male', doj: '05-10-2019', country: 'Germany', emailId: 'Naveen@gmail.com', password: '123' },
    { empId: 6, empName: 'pavani', salary: 80000, gender: 'Female', doj: '05-10-2019', country: 'Germany', emailId: 'pavani@gmail.com', password: '123' }

  ];
  Id: number = 0; 
  selectedEmployee: any;

  searchEmployee() {
    this.selectedEmployee = this.employees.find(employee => employee.empId === this.Id);
  }
} -->
