<p>showemployees works!</p>
<head>
    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
    crossorigin="anonymous">
</head>

<h3 style="color: green;">Welcome: {{emailId}}!</h3>
<h1 align="center">Employees Data</h1> <br/>

<div class="container">
<table class="table table-bordered table-hover table-striped table-sm">
    <thead>
        <tr align="center">
            <th class="bg-info text-white">EmpId</th>
            <th class="bg-info text-white">EmpName</th>
            <th class="bg-info text-white">Salary</th>
            <th class="bg-info text-white">Gender</th>
            <th class="bg-info text-white">DOJ</th>
            <th class="bg-info text-white">Country</th>
            <th class="bg-info text-white">EmailId</th>
            <th class="bg-info text-white">Experience</th>
            <th colspan="2" class="bg-info text-white">Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let emp of employees">
            <td align="center"> {{emp.empId}} </td>
            <td align="left">   {{emp.empName | uppercase | gender:emp.gender}}</td>
            <td align="right">  {{emp.salary  | currency:'INR'}}</td>
            <td align="left">   {{emp.gender  | lowercase}}</td>
            <td align="center"> {{emp.doj     | date:'dd-MMM-yyyy'}}</td>
            <td align="left">   {{emp.country}}       </td>
            <td align="left">   {{emp.emailId}}       </td>
            <td align="center"> {{emp.doj     | exp}} </td>
            <td align="center"> <button (click)="editEmployee(emp)" class="glyphicon glyphicon-pencil"></button> </td>

            <td align="center"> <button (click)="deleteEmployee(emp.empId)" class="glyphicon glyphicon-trash"></button> </td>


        </tr>
    </tbody>
</table>
</div>
<div class="container">
      
    <!-- The Modal -->
    <div class="modal fade" id="empModal">
      <div class="modal-dialog">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Edit Employee</h4>
            <p style="margin-left: 300px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </p>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
            <div class="container">
                
                <h3>Show Employee Registration Form</h3>
                
            </div>
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Update Employee</button>
          </div>
          
        </div>
      </div>
    </div>
    
  </div>
  









  



