<!-- <app-registration></app-registration>
<app-showemployees></app-showemployees>
 <app-showemp-by-id></app-showemp-by-id>
 <app-login></app-login> 
 <app-showemp-by-id></app-showemp-by-id> 
 <app-showemp-by-id></app-showemp-by-id>
 <app-product></app-product>
 <app-header></app-header>
 <app-header></app-header>

<marquee><h1 style="color: red;">Welcome to Angular Routing</h1></marquee>

<router-outlet></router-outlet>-->

<app-header></app-header>

<marquee><h1 style="color: red;">Welcome to Angular Routing</h1></marquee>

<router-outlet></router-outlet>

